.UserInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  font-size: 20px;

  .imgWrapper {
    display: flex;
    justify-content: center;
    min-width: 45px;
    min-height: 45px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.7;
  }

  .img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }

  .displayName {
    margin-left: 10px;
    color: grey;
    font-size: 18px;
  }
}
